* {
    margin: 0;
    padding: 0;
}

#total {
    text-align: center;
}
h3 {
    text-align: center;
}
#formulario {
    text-align: center;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;


}